<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
</head>
<body>
<h2>Сменить пароль для пользователя: <span th:text="${user.username}"></span></h2>
<form th:action="@{'/admin/' + ${user.id} + '/change-password'}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <label for="newPassword">Новый пароль:</label>
    <input type="password" id="newPassword" name="newPassword" required />
    <button type="submit">Сменить пароль</button>
</form>
<br/>
<a th:href="@{/admin}">Назад</a>
</body>